*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#snakeField{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
}

.item{
    background-color: lightblue;
    border: 2px solid blue;
    height: 50px;
    width: 10%;
    border-radius: 5px;
}

.item:hover{
    cursor: pointer;
}

.item.active{
    background-color: orange;
}
